	<ul class="nav">[,]
		<li class="{{ACTIVE}}"><a href="{{LINKURL}}">{{NAME}}</a>[,]
		<li class="dropdown {{ACTIVE}}"><a class="dropdown-toggle" data-toggle="dropdown" href="{{LINKURL}}">{{NAME}} <b class="caret"></b></a>[,]
		</li>[,]
	</ul>
	[[,]]
	<ul class="dropdown-menu">[,]
		<li class="<cfif><cfcondition>isdefined(children)</cfcondition>dropdown-submenu</cfif> {{ACTIVE}}"><a href="{{LINKURL}}">{{NAME}}</a>[,]
		</li>[,]
	</ul>
	[[,]]
	<ul class="dropdown-menu">[,]
		<li class="{{ACTIVE}}"><a href="{{LINKURL}}">{{NAME}}</a>[,]
		</li>[,]
	</ul>

