<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>
</header>

<section class="content">
	<div class="container">
		<div class="row">
			<h4>CONTACT LIST</h4>
			<!--<div class="lithe-breadcrumbs" data-lithe-slug="test1" data-lithe-withparam="false"></div>-->

			<!--<div class="lithe-breadcrumbs" data-lithe-category="Test" data-lithe-withparam="false" ></div>-->

			<ul class="lithe-breadcrumbs"  >
				<script id="breadcrumbTemplate" type="text/x-jsrender">
					{{if child }}
						<li><a href="/test/breadcrumb_test.html?category={{>TITLE}}">{{>TITLE}}</a> <span class="divider">/</span></li>
					{{else}}
						<li class="active">{{>TITLE}}</li>
					{{/if}}
					{{for child tmpl="#breadcrumbTemplate"/}}
				</script>
			</ul>
		</div>
	</div>
</section>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>

</body>
</html>

