<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 9/6/13 AD
  Time: 2:04 PM
  To change this template use File | Settings | File Templates.
--->

<cfimport taglib="/cfc/tags" prefix="lithe">
<link rel="stylesheet" media="screen" href="../public/stylesheets/bootstrap.min.css">
<cfoutput>
<!---<lithe:lithe-breadcrumb slug="What-is-Lorem-IpsumProduct15"  template="defaultbreadcrumb"/>--->
<!---<lithe:lithe-breadcrumb category="Product"  template="defaultbreadcrumb"/>--->
<lithe:lithe-breadcrumb hometitle="testweb" template="defaultbreadcrumb">
	<cfif breadcrumbs.totalrecord GT 0>
		<cfset i=0>
<!---		<ul class="breadcrumb">--->
<!---		<lithe:lithe-breadcrumb-list>--->
<!---			<cfdump var="#breadcrumb#">--->
<!---			<cfabort/>--->

<!---			<cfset i++>--->
<!---			<cfif i LT breadcrumbs.totalrecord>--->
<!---				<li class=""><a href="#breadcrumb.URL#">#breadcrumb.TITLE#</a><span class="divider">/</span></li>--->
<!---			<cfelse>--->
<!---				<li class="active">#breadcrumb.TITLE#</li>--->
<!---			</cfif>--->
<!---		</lithe:lithe-breadcrumb-list>--->
<!---		</ul>--->
	</cfif>
</lithe:lithe-breadcrumb>
</cfoutput>
<script type="text/javascript" src="../private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../private/javascripts/head.min.js"></script>
<script type="text/javascript" src="../private/javascripts/system.js"></script>