<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 9/6/13 AD
  Time: 10:03 AM
  To change this template use File | Settings | File Templates.
--->
<cfimport taglib="/cfc/tags" prefix="lithe">

<!---<lithe:lithe-category-detail category="Blog">--->
<!---	<cfoutput>--->
<!---		<cfif category["totalrecord"] GT 0>--->
<!---			ID = #category["ID"]#--->
<!---			TITLE = #category["TITLE"]#--->
<!---			DETAIL = #category["DETAIL"]#--->
<!---			DETAIL = #category["DETAIL"]#--->
<!---			IMAGEREF = #category["IMAGEREF"]#--->
<!---			PATTERN = #category["PATTERN"]#--->
<!---			SLUG = #category["SLUG"]#--->
<!---			TEMPLATE = #category["TEMPLATE"]#--->
<!---			THUMB = <img src="#category["THUMB"]#">--->
<!---			URL = #category["URL"]#--->
<!---			TEMPLATE = #category["TEMPLATE"]#--->
<!---			CREATEDAT = #DateFormat(category["CREATEDAT"],'dd/mm/yyyy')#--->
<!---			UPDATEDAT = #DateFormat(category["UPDATEDAT"],'dd/mm/yyyy')#--->
<!---		</cfif>--->
<!---	</cfoutput>--->
<!---	<cfdump var="#category#"><cfabort/>--->
<!---</lithe:lithe-category-detail>--->
<!---		<cfdump var="#subcategory#">--->
<!---<cfoutput>--->
<!---	<lithe:lithe-subcategory-lists category="Blog,Product">--->
<!---		totalrecord : #subcategories["totalrecord"]#<br/>--->
<!---		<cfif subcategories["totalrecord"] GT 0>--->
<!---		    <lithe:lithe-subcategory-list>--->
<!---				CREATEDAT : #dateFormat(subcategory["CREATEDAT"],"dd/MM/yyyy")#<br/>--->
<!---				DETAIL : #subcategory["DETAIL"]#<br/>--->
<!---				ID : #subcategory["ID"]#<br/>--->
<!---				IMAGEREF : <img src="#subcategory["IMAGEREF"]#"/><br/>--->
<!---				PATTERN : #subcategory["PATTERN"]#<br/>--->
<!---				SLUG : #subcategory["SLUG"]#<br/>--->
<!---				TEMPLATE : #subcategory["TEMPLATE"]#<br/>--->
<!---				TITLE : #subcategory["TITLE"]#<br/>--->
<!---				UPDATEDAT : #subcategory["UPDATEDAT"]#<br/>--->
<!---				URL : #subcategory["URL"]#<br/>--->
<!---				currentRow : #subcategory["currentRow"]#<br/>--->
<!---		    </lithe:lithe-subcategory-list>--->
<!---		</cfif>--->
<!---	</lithe:lithe-subcategory-lists>--->
<!---</cfoutput>--->
<!---	<cfdump var="#subcategories#">--->
<!---<cfoutput>--->
	<lithe:lithe-category-lists>
		<lithe:lithe-category-list>
<!---			<img src="#category['THUMBNAIL']#" alt=""> #category['TITLE']#  <br>--->
			<cfdump var="#category#">
		</lithe:lithe-category-list>
	</lithe:lithe-category-lists>
<!---</cfoutput>--->