<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">

</head>
<body>
<div id="fb-root"></div>
<header class="header">

</header>
<section class="content">
	<div class="container">
		<div class="row">
			<h4>CATEGORY LIST</h4>
            <div class="lithe-subcategories" data-lithe-category="gallery,slide" data-lithe-limit="2" data-lithe-sort="desc" data-lithe-orderby="TITLE">
                <script type="text/x-jsrender">
                    <table>
                        {{for categories}}
                        <tr>
                            <td>
                                {{:TITLE}}
                            </td>
                            <td>
                                {{:SLUG}}
                            </td>
                            <td>
                                {{:IMAGEREF}}
                            </td>
                            <td>
                                {{:TEMPLATE}}
                            </td>
                        </tr>
                        {{/for}}
                    </table>
                    {{pagination model=pagination/}}
                </script>
            </div>
			<!--<div class="lithe-categorys" data-lithe-category="gallery,slide">-->
				<!--<script type="text/x-jsrender">-->
					<!--<table>-->
						<!--{{for categorys}}-->
						<!--<tr>-->
							<!--<td>-->
								<!--{{:TITLE}}-->
							<!--</td>-->
							<!--<td>-->
								<!--{{:SLUG}}-->
							<!--</td>-->
							<!--<td>-->
								<!--{{:IMAGEREF}}-->
							<!--</td>-->
							<!--<td>-->
								<!--{{:TEMPLATE}}-->
							<!--</td>-->
						<!--</tr>-->
						<!--{{/for}}-->
					<!--</table>-->
				<!--</script>-->
			<!--</div>-->
            <!---->
            <!--<div class="lithe-category" >-->
                <!--<script type="text/x-jsrender">-->
                    <!--<table>-->


                        <!--<tr>-->
                            <!--<td>-->
                                <!--{{:TITLE}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{:SLUG}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{:IMAGEREF}}-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--{{:TEMPLATE}}-->
                            <!--</td>-->
                        <!--</tr>-->

                    <!--</table>-->
                <!--</script>-->
            <!--</div>-->


<br><br><br><br><br>



</section>

<footer class="footer">

</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>

</body>
</html>






