<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 10/4/13 AD
  Time: 2:39 PM
  To change this template use File | Settings | File Templates.
--->
<cfprocessingdirective pageEncoding="utf-8"/>
<cfset uu = decrypt("mRkTsIYd","SHA-1")>
<cfset pp = decrypt("mhkNs50XDKQ=","SHA-1")>

<cfif isdefined("form.username") AND form.username IS uu AND isdefined("form.password") AND form.password IS pp>
	<!--- SAVE SESSION --->
	<cfset session.form_username = uu>
	<cfset session.form_password = pp>
	<cflocation url="formlist_test.cfm" >
	<cfelse>
	<cflocation url="login.cfm?error=Invalid username or password!">
</cfif>