<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 9/18/13 AD
  Time: 11:41 AM
  To change this template use File | Settings | File Templates.
--->
<!--- <cfset structClear(session)> --->
<cfimport taglib="/cfc/tags" prefix="lithe">
<link rel="stylesheet" media="screen" href="../public/stylesheets/bootstrap.min.css">
<cfoutput>
	<lithe:lithe-facebook>
		#facebook['login']#
		#facebook['logout']#
			<br/>
		<cfif facebook['loginstatus']>
			fb id = #facebook['profile']['fbid']# <br/>
			name = #facebook['profile']['name']#<br/>
			email = #facebook['profile']['email']# <br/>
			gender = #facebook['profile']['gender']#<br/>
			gender = <img src="#facebook['profile']['image']#"><br/>
		</cfif>
	</lithe:lithe-facebook>


<!---			<a href="##" class="facebookbtn"><span class="fbutton">f</span><span class="tbutton">login</span><a>--->


	<!--- <cfdump var="#cookie#"> --->
	<!--- <cfdump var="#session#"> --->
	<style type="text/css">
		.facebookbtn{
			/*display: block;*/
			background-color: ##5B74A8;
		    /*padding: 10px;*/
		}
		.facebookbtn .fbutton{
			color: ##ffffff;
			font-size: 16px;
			padding: 10px;
			border: 1px solid darkblue  ;

		}
		.facebookbtn .tbutton{
			padding: 10px;
			color: ##ffffff;
			font-size: 14px;
		}
	</style>
</cfoutput>
<!---<a href="#" class="facebook"><span>login</span><a>--->

<!---	<a href="#" class="facebook"><span>login</span><a>--->
<script type="text/javascript" src="../private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../private/javascripts/head.min.js"></script>
<script type="text/javascript" src="../private/javascripts/system.js"></script>