<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 10/26/13 AD
  Time: 1:55 AM
  To change this template use File | Settings | File Templates.
--->
<cfimport taglib="/cfc/tags" prefix="lithe">
<lithe:lithe-facebook facebookpage="test/facebook.cfm">
</lithe:lithe-facebook>