<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 10/4/13 AD
  Time: 11:38 AM
  To change this template use File | Settings | File Templates.
--->


<cfif structKeyExists(session,"form_username") >
	<cfinclude template="../cfc/formcontroller.cfm">
	<cfset formdata = formedit(url.collectionname,url.key)>

	<cfoutput>
		<form action="formupdate.cfm" method="post">
			TITLE : <input type="text" name="title" value="#formdata['TITLE']#"/><br/>
			DETAIL : <input type="text" name="detail" value="#formdata['DETAIL']#"/><br/>
			EMAIL : <input type="text" name="email" value="#formdata['EMAIL']#"/><br/>
			<input type="hidden" name="key" value="#formdata['id']#"/><br/>
			<input type="hidden" name="collectionname" value="#url['collectionname']#"/><br/>
			<button type="submit">Update</button><br/>
		</form>
	</cfoutput>
</cfif>