<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>
</header>

<section class="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</div>
			<div class="lithe-gallery" data-lithe-name="gallery2" data-lithe-galleryid="538259592861937">
				<script type="text/x-jsrender">
					{{for gallery2}}
						{{for data}}
							{{for images}}
								{{if #index == 1}}
									<img src="{{>#data.source}}">
								{{/if}}
							{{/for}}
						{{/for}}
					{{/for}}
				</script>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
<script type="text/javascript" src="/public/javascripts/app.js"></script>
</body>
</html>