<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 9/23/13 AD
  Time: 10:08 AM
  To change this template use File | Settings | File Templates.
--->

<!--- <cfset structClear(session)> --->
<cfimport taglib="/cfc/tags" prefix="lithe">
<link rel="stylesheet" media="screen" href="../public/stylesheets/bootstrap.min.css">
<cfoutput>

	<lithe:lithe-html slug="test" scope="html2">
<!---		<cfset x=html>--->
<!---		<cfdump var="#html2#">--->
		<lithe:lithe-gallery-image scope>
			<cfdump var="#image#">
		</lithe:lithe-gallery-image>
        <cfdump var="#html2.TITLE#">
		<lithe:lithe-html slug="test2">
<!---			<cfdump var="#html.TITLE#">--->
			<lithe:lithe-gallery-image>
				<cfdump var="#image#">
			</lithe:lithe-gallery-image>
		</lithe:lithe-html>

		<lithe:lithe-gallery-image>
			<cfdump var="#image#">
		</lithe:lithe-gallery-image>

<!---		<cfset html=x>--->
		<cfdump var="#html2.TITLE#">
	</lithe:lithe-html>

</cfoutput>
<!---<a href="#" class="facebook"><span>login</span><a>--->

<!---	<a href="#" class="facebook"><span>login</span><a>--->
	<script type="text/javascript" src="../private/javascripts/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="../private/javascripts/head.min.js"></script>
	<script type="text/javascript" src="../private/javascripts/system.js"></script>


