<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<!--<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">-->
	<!--<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">-->
</head>
<body>
<div id="fb-root"></div>
<!--<header class="header">-->
	<!--<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>-->
<!--</header>-->

<section class="content">
	<div class="container">
		<div class="row">
			<h4>CONTACT LIST</h4>

			<div class="lithe-menu" data-lithe-menu="mainmenu" data-lithe-withparam="true">

				<!--<script id="menuTemplate" type="text/x-jsrender">-->
					<!--<h4>{{:menu_name}}</h4>-->
					<!--<p>{{:menu_description}}</p>-->
					<!--<div class="navbar">-->
						<!--<div class="navbar-inner">-->
							<!--<div class="container">-->
								<!--<div class="{{:menu_class}}" id="{{:menu_id}}">-->
									<!--<ul class="nav">-->
										<!--{{for menu}}-->
										<!--{{if children }}-->
										<!--<li class="dropdown"><a href="{{>linkurl}}" class="dropdown-toggle" data-toggle="dropdown">{{>name}}</a>-->
											<!--<ul class="dropdown-menu">-->
												<!--{{for children tmpl="#menuTemplate"/}}-->
											<!--</ul>-->
										<!--</li>-->
										<!--{{else}}-->
										<!--<li><a href="{{>linkurl}}">{{>name}}</a></li>-->
										<!--{{/if}}-->
										<!--{{if end}}-->
									<!--</ul>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</script>-->



				<!--<script id="menuTemplate" type="text/x-jsrender">-->
				<!--<h4>{{:menu_name}}</h4>-->
				<!--<p>{{:menu_description}}</p>-->
				<!--<div class="navbar">-->
					<!--<div class="navbar-inner">-->
						<!--<div class="container">-->
							<!--<div class="{{:menu_class}}" id="{{:menu_id}}">-->
								<!--<ul class="nav">-->
									<!--{{for menu}}-->
									<!--{{if children }}-->
									<!--<li class="dropdown"><a href="{{>linkurl}}" class="dropdown-toggle" data-toggle="dropdown">{{>name}}</a>-->
										<!--<ul class="dropdown-menu">-->
											<!--{{for children}}-->
											<!--<li><a href="{{>linkurl}}">{{>name}}</a></li>-->
											<!--{{/for}}-->
										<!--</ul>-->
									<!--</li>-->
									<!--{{else}}-->
									<!--<li><a href="{{>linkurl}}">{{>name}}</a></li>-->
									<!--{{/if}}-->
									<!--{{/for}}-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</script>-->

				<!--<script id="menuChildTemplate" type="text/x-jsrender">-->
					<!--{{if children }}-->
					<!--<li class="dropdown"><a href="{{>linkurl}}" class="dropdown-toggle" data-toggle="dropdown">{{>name}}</a>-->
						<!--<ul class="dropdown-menu">-->
							<!--{{for children tmpl="#menuChildTemplate"/}}-->
						<!--</ul>-->
					<!--</li>-->
					<!--{{else}}-->
						<!--<li><a href="{{>linkurl}}">{{>name}}</a></li>-->
					<!--{{/if}}-->
				<!--</script>-->



                <script type="text/x-jsrender">
                    <!---	head intro	--->
                    <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
                    <div class="hero-unit">
                        <div class="cousre-description">
                            <!--<h4>{{:menu_description}}</h4>-->
                        </div>
                    </div>
                    <!-- end: Hero Unit -->
                    <!---    end : head intro   --->
                    {{for menu}}
                    <div class="span4 portfolio-item all-course">
                        <div class="picture"><a href="{{:linkurl}}" title="{{:name}}"><img src="/assets/upload/image/{{:imagefile}}" alt=""/><div class="image-overlay-link"></div></a>
                        </div>
                        {{if description != ''}}
                        <div class="hero-unit">
                            <div class="">
                                <p>{{:description}}</p>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{/for}}
                </script>

			</div>
		</div>
	</div>
</section>



<!--<footer class="footer">-->
	<!--<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>-->
<!--</footer>-->

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
</body>
</html>

