<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>

</header>
<section class="content">
	<div class="container">
		<div class="row">
			<h4>Order history detail </h4>

			<div class="lithe-order-history-detail" data-lithe-name="jojoe" data-lithe-limit="1" data-lithe-note-attrbutes='id="xx"'>
				<script type="text/x-jsrender">
					{{for jojoe}}
						totalitem:{{:TOTAL_ITEM}}
						totalprice:{{:TOTAL_PRICE}}
						{{for FORM}}
							{{:startform}}
							<label>Note {{:note}}</label>
							<label>file {{:file}}</label>
							<label> {{:submit}} </label>
							<a href="{{:#parent.data.FILE}}">download</a>
							{{:endform}}
						{{/for}}

						<table border="1px">
							<thead>
							<tr>
								<td>
									Name
								</td><td>
									SKU
								</td><td>
									Category
								</td><td>
									Intro
								</td><td>
									Detail
								</td><td>
									Price
								</td><td>
									Quantity
								</td><td>
									Total Price
								</td>
							</tr>
							</thead>
							<tbody>

								{{for PRODUCTS}}
									<tr>
										<td>
											<a href="/productdetail.html?slug={{:SLUG}}">
												<img src="{{:LTHUMB}}" alt="{{:NAME}}">
											</a>
											{{:NAME}}
										</td><td>
											{{:OTHER.SKU}}
										</td><td>
											{{:OTHER.CATEGORYTITLE}}
										</td><td>
											{{:OTHER.INTRO}}
										</td><td>
											{{:OTHER.DETAIL}}
										</td><td>
											{{:PRICE}}
										</td><td>
											{{:QTY}}
										</td><td>
											{{:TOTAL}}
										</td>
									</tr>
								{{/for}}

							</tbody>
						</table>
					{{/for}}
					<div class="pagination">
						<ul>
							<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>
							<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>
							{{for pagination.pages}}
							<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>
							{{/for}}
							<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>
							<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>
						</ul>
					</div>


				</script>
			</div>

		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
<script type="text/javascript" src="/public/javascripts/app.js"></script>
</body>
</html>