<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>

</header>
<section class="content">
	<div class="container">
		<div class="row">
			<h4>ORDER LIST</h4>

			<div class="lithe-order-history" data-lithe-name="jojoe" data-lithe-limit="2">
				<script type="text/x-jsrender">
					<table border="1px">
						<thead>
						<tr>
							<td>
								Order No
							</td><td>
								Date
							</td><td>
								Quantity
							</td><td>
								Price
							</td><td>
								Status
							</td><td>
								payment name
							</td><td>
								action
							</td>
						</tr>
						</thead>
						<tbody>
							{{for jojoe}}
							<tr>
								<td>
									{{>ORDERNO}}
								</td><td>
									{{>CREATEDAT}}
								</td><td>
									{{>QUANTITY}}
								</td><td>
									{{>TOTALPRICE}}
								</td><td>
									{{>STATUS}}
								</td><td>
									{{:PAYMENT.BILLING_ADDRESS.NAME}}
								</td><td>
									<a class="btn" href='./ordershistorydetail_test.html?orderid={{>_id.$oid}}'>payment</a>
								</td>
							</tr>
							{{/for}}
						</tbody>
					</table>
					{{pagination model=pagination/}}
					<div class="pagination">
						<ul>
							<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>
							<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>
							{{for pagination.pages}}
							<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>
							{{/for}}
							<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>
							<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>
						</ul>
					</div>



				</script>
			</div>

		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
<script type="text/javascript" src="/public/javascripts/app.js"></script>
</body>
</html>