<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html" data-lithe-menu="Headmenu"></div>
</header>

<section class="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h3>page</h3>
				<div class="lithe-page" data-lithe-slug="ทดสอบ">
	              <script type="text/x-jsrender">
	                <h3>{{>TITLE}}</h3>
	                <p>{{:DETAIL}}</p>
	                <p class="mute">{{dateFormat model=UPDATEDAT/}}<p>
	              </script>
	            </div>

	            <hr>
	            <h3>page list</h3>
	            <div class="lithe-breadcrumbs" data-lithe-category="Test"></div>
	            <div class="lithe-pages" data-lithe-limit="1" data-lithe-category="Test">
	            	<script type="text/x-jsrender">
	            	{{for pages}}
	                	<h3>{{>TITLE}}</h3>
	                	<p>{{:DETAIL}}</p>
	                	<p class="mute">{{>UPDATEDAT/}}<p>
	                	<a href="/test/page_detail_test.html?slug={{>SLUG}}">read more</a>
	                {{/for}}
	                   {{pagination model=pagination/}}
	                <div class="pagination">
					  <ul>
					  	<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>
					    <li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>
					    {{for pagination.pages}}
					    	<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>
					    {{/for}}
					    <li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>
					    <li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>
					  </ul>
					</div>
	              </script>
	            </div>

	            <hr>
	            <h3>page intro</h3>
	            <div class="lithe-pages-intro" data-lithe-limit="2" data-lithe-withparam="false">
	            	<script type="text/x-jsrender">
	            	{{for pages}}
	                	<h3>{{>TITLE}}</h3>
	                	<p>{{>INTRO}}</p>
	                	<p class="mute">{{>UPDATEDAT}}<p>
	                	<a href="/test/page_detail_test.html?slug={{>SLUG}}">read more</a>
	                {{/for}}
	                
	                <div class="pagination">
					  <ul>
					  	<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>
					    <li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>
					    {{for pagination.pages}}
					    	<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>
					    {{/for}}
					    <li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>
					    <li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>
					  </ul>
					</div>
	              </script>
	            </div>

			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
<script type="text/javascript" src="/public/javascripts/app.js"></script>
</body>
</html>