<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html" data-lithe-menu="Headmenu"></div>
</header>
<section class="content">
	<div class="container">
		<div class="row">
			<h4>POSTS LIST</h4>

			<div class="lithe-posts" data-lithe-category="Product"
                 data-lithe-limit="2" data-lithe-skip="100">
				<script type="text/x-jsrender">
                    {{if havedata == 0}}
                    {{if posts}}
					{{for posts}}
						{{>TITLE}} -
						{{>CATEGORYTITLE}} -
						{{:TAG}} -

						{{tags model=TAG url="./xxxx.html" tags_li="badge badge-inverse"/}}
						<br>
					{{/for}}
                    {{else}}
                    no no
                    {{/if}}
					{{pagination model=pagination/}}
				</script>
            </div>
			<!--<div class="lithe-posts" data-lithe-withparam="true" >-->
				<!--<script type="text/x-jsrender">-->
					<!--{{for posts}}-->
						<!--{{>TITLE}} --->
						<!--{{>CATEGORYTITLE}} --->
						<!--{{:TAG}} --->

						<!--{{tags model=TAG url="./xxxx.html" tags_li="badge badge-inverse"/}}-->
					<!--<br>-->
					<!--{{/for}}-->
					<!--<div class="pagination">-->
					  <!--<ul>-->
					  	<!--<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>-->
					    <!--<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>-->
					    <!--{{for pagination.pages}}-->
					    	<!--<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>-->
					    <!--{{/for}}-->
					    <!--<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>-->
					    <!--<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>-->
					  <!--</ul>-->
					<!--</div>-->
				<!--</script>-->
			<!--</div>-->
			<hr>
			<!--<h4>POSTS LIST intro</h4>-->
			<!--<div class="lithe-posts-intro" data-lithe-category="Default,Test" data-lithe-tags="test1" data-lithe-orderby="TITLE" data-lithe-sort="TITLE" data-lithe-limit="12">-->
				<!--<script type="text/x-jsrender">-->
					<!--{{for posts}}-->
						<!--{{>TITLE}}-->
					<!--{{/for}}-->
					<!--<div class="pagination">-->
					  <!--<ul>-->
					  	<!--<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>-->
					    <!--<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>-->
					    <!--{{for pagination.pages}}-->
					    	<!--<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>-->
					    <!--{{/for}}-->
					    <!--<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>-->
					    <!--<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>-->
					  <!--</ul>-->
					<!--</div>-->
				<!--</script>-->
			<!--</div>-->
			<!--<hr>-->
			<!--<h4>post</h4>-->
			<!--<div class="lithe-post-detail" data-lithe-slug="test1">-->
				<!--<script type="text/x-jsrender">-->
					<!--{{>TITLE}}-->
				<!--</script>-->
			<!--</div>-->
			<!--<hr>-->
			<!--<h4>detail</h4>-->
			<!--<div class="lithe-post" data-lithe-slug="test1">-->
				<!--<script type="text/x-jsrender">-->
					<!--{{>TITLE}}-->
				<!--</script>-->
			<!--</div>-->

		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
</body>
</html>