<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 9/23/13 AD
  Time: 11:09 AM
  To change this template use File | Settings | File Templates.
--->

<!--- <cfset structClear(session)> --->
<cfimport taglib="/cfc/tags" prefix="lithe">
<link rel="stylesheet" media="screen" href="../public/stylesheets/bootstrap.min.css">
<cfoutput>

	<lithe:lithe-post-detail slug="Where-does-itProduct16" scope="post2">
	<!---		<cfset x=html>--->
	<!---		<cfdump var="#html2#">--->
		<cfdump var="#post2.TITLE#">
		<lithe:lithe-gallery-image>
			<cfdump var="#image#">
		</lithe:lithe-gallery-image>
		<lithe:lithe-tag>
	         <cfdump var="#tag#">
		</lithe:lithe-tag>
		<lithe:lithe-post-detail slug="What-is-Lorem-IpsumProduct15" scope="post3">
			<cfdump var="#post3.TITLE#">
			<cfdump var="#post2.TITLE#">
			<lithe:lithe-gallery-image>
				<cfdump var="#image#">
			</lithe:lithe-gallery-image>
			<lithe:lithe-tag>
				<cfdump var="#tag#">
			</lithe:lithe-tag>
		</lithe:lithe-post-detail >
		<lithe:lithe-tag>
		<cfdump var="#tag#">
		</lithe:lithe-tag>
		<lithe:lithe-gallery-image>
		<cfdump var="#image#">
		</lithe:lithe-gallery-image>

		<!---		<cfset html=x>--->
		<cfdump var="#post2.TITLE#">
	</lithe:lithe-post-detail>

</cfoutput>
<!---<a href="#" class="facebook"><span>login</span><a>--->

<!---	<a href="#" class="facebook"><span>login</span><a>--->
<script type="text/javascript" src="../private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../private/javascripts/head.min.js"></script>
<script type="text/javascript" src="../private/javascripts/system.js"></script>
