<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html" data-lithe-menu="Headmenu"></div>
</header>

<section class="content">
	<div class="container">
		<div class="row">
			<h1>product</h1>
			<div class="lithe-products"   data-lithe-category="Product" data-lithe-orderby="TITLE" data-lithe-sort="TITLE" data-lithe-limit="2"
			     data-lithe-addtocart-alert-message="แอดเสร็จแล้วจร้า" data-lithe-sub-category="true">
				<script type="text/x-jsrender">
					{{for products}}
						<div>
						{{>TITLE}}
						-
						{{:CREATEDAT}}
						-
						{{dateFormat model=UPDATEDAT format="dd/mm/yyyy hh:M:s:l"/}}
						-
						{{:ADD}}
						</div>
					{{/for}}
					<div class="pagination">
					  <ul>
					  	<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>
					    <li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>
					    {{for pagination.pages}}
					    	<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>
					    {{/for}}
					    <li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>
					    <li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>
					  </ul>
					</div>
				</script>
			</div>

			<!--<div class="lithe-products-intro"  data-lithe-category="Default" data-lithe-orderby="TITLE" data-lithe-sort="TITLE" data-lithe-limit="12">-->
				<!--<script type="text/x-jsrender">-->
					<!--{{for products}}-->
						<!--{{>TITLE}}-->

					<!--{{/for}}-->
					<!--<div class="pagination">-->
					  <!--<ul>-->
					  	<!--<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>-->
					    <!--<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>-->
					    <!--{{for pagination.pages}}-->
					    	<!--<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>-->
					    <!--{{/for}}-->
					    <!--<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>-->
					    <!--<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>-->
					  <!--</ul>-->
					<!--</div>-->
				<!--</script>-->
			<!--</div>-->
			<h4>product</h4>
			<!--<div class="lithe-product-detail" data-lithe-slug="test1">-->
				<!--<script type="text/x-jsrender">-->
					<!--{{>TITLE}}-->
				<!--</script>-->
			<!--</div>-->
			<!--<h4>detail</h4>-->
			<!--<div class="lithe-product" data-lithe-slug="test1">-->
				<!--<script type="text/x-jsrender">-->
					<!--{{>TITLE}}-->
				<!--</script>-->
			<!--</div>-->
		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
</body>
</html>