<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>

</header>
<section class="content">
	<div class="container">
		<div class="row">
			<h4>CART LIST</h4>

				<div class="lithe-shopping-cart" data-lithe-limit="1" data-lithe-updatevalidate-message="กรุณาใส่เป็นตัวเลข">
					<script type="text/x-jsrender">
						<div>{{:shoppingcart.remove_allproduct}}</div>

						<div>{{:shoppingcart.total_item}}</div>
						<div>{{:shoppingcart.total_price}}</div>
						<table>
							<thead>
							<tr>
								<td>
								name
								</td><td>
								price
							</td><td>
								update
							</td><td>
								remove
							</td>
							</tr>
							</thead>
						{{for shoppingcart.products}}
							<tr>
								<td>
								{{>NAME}}
								</td><td>
								{{>PRICE}}
								</td><td>
								{{:UPDATEFIELD}}
								{{:UPDATE}}
								</td><td>
								{{:REMOVE}}
								</td>
							</tr>
						{{/for}}

							</tbody>
						</table>
						{{pagination model=pagination/}}
						<div class="pagination">
							<ul>
								<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.first}}">First</a></li>
								<li {{if pagination.current == 1}}class="disabled"{{/if}}><a href="{{:pagination.prev}}">Prev</a></li>
								{{for pagination.pages}}
								<li {{if #parent.parent.data.pagination.current == index}}class="active"{{/if}}><a href="{{:url}}">{{:index}}</a></li>
								{{/for}}
								<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.next}}">Next</a></li>
								<li {{if pagination.current == pagination.totalpage}}class="disabled"{{/if}}><a href="{{:pagination.last}}">Last</a></li>
							</ul>
						</div>
                        {{:shoppingcart.message}}
					</script>
				</div>
			</div>

		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
</body>
</html>