
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>

</header>
<section class="content">
	<div class="container">
		<div class="row">
			<h4>Payment</h4>

			<div class="lithe-shopping-payment" data-lithe-noproduct-message="เพิ่มสินค้าแล้วยังจร้า"
			     data-lithe-shopping-name-attrbutes='placeholder="Name"' data-lithe-shopping-zip-attrbutes='placeholder="zip"'
			     data-lithe-submit-goto="http://map.google.co.th"
					>
				<script type="text/x-jsrender">
					<div class="{{:facebook.notloginclass}}">
						{{:facebook.login}}
					</div>
					<div class="{{:facebook.loggedinclass}}">
						{{for shoppingpayment}}
							{{:startform}}
							<h5>shipping</h5>
							<label>name {{:shipping.name}}</label>
							<label>address {{:shipping.address}}</label>
							<label>address continued {{:shipping.address_continued}}</label>
							<label>tambon {{:shipping.tambon}}</label>
							<label>city {{:shipping.city}}</label>
							<label>state {{:shipping.state}}</label>
							<label>zip {{:shipping.zip_code}}</label>
							<label>phone number {{:shipping.phone_number}}</label>

							<h5>payment</h5>
							<label>same address {{:billing.same_shipping_address}}</label>
							<label>name {{:billing.name}}</label>
							<label>billing address {{:billing.address}}</label>
							<label>billing address continued {{:billing.address_continued}}</label>
							<label>tambon {{:billing.tambon}}</label>
							<label>city {{:billing.city}}</label>
							<label>state {{:billing.state}}</label>
							<label>zip code {{:billing.zip_code}}</label>
							<label>phone number {{:billing.phone_number}}</label>

							{{:submit}}
							{{:endform}}
						{{/for}}
					</div>
				</script>
			</div>

		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
<script type="text/javascript" src="/public/javascripts/app.js"></script>
</body>
</html>