<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Skoode lithe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/private/stylesheets/system.css">
	<link rel="stylesheet" media="screen" href="/public/stylesheets/app.css">
</head>
<body>
<div id="fb-root"></div>
<header class="header">
	<div class="lithe-include" data-lithe-templateurl="/_header.html"></div>
</header>

<section class="content">
	<div class="container">
		<div class="row">
			<div class="lithe-tagclouds">
				<script id="template" type="text/x-jsrender">
					{{for tags}}
					<span class="badge badge-inverse">
<a class="mainblog_tagcloudlink" href="./blog.html?tag={{>#data}}">{{>#data}}</a>
</span>
					{{/for}}
				</script>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="lithe-include" data-lithe-templateurl="/_footer.html"></div>
</footer>

<script type="text/javascript">
	var head_conf = { screens: [480, 767, 979, 1200] };
</script>
<script type="text/javascript" src="/private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/private/javascripts/head.min.js"></script>
<script type="text/javascript" src="/private/javascripts/system.js"></script>
</body>
</html>