<cfset databasename="replacedatabasename">
<cfset databasehost="replacedatabasehost">
<cfset databaseport=replacedatabaseport>
<cfset databaseusername='replacedatabaseusername'>
<cfset databasepassword='replacedatabasepassword'>