.bigModal{width:760px;margin-left:-380px;}

/*Auto Complete*/
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #d1d1d1 url(images/ui-bg_glass_30_d1d1d1_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-autocomplete { position: absolute; cursor: default;list-style:none; }
.ui-autocomplete li {margin:0px;}
.ui-autocomplete li a{ display:block; padding-left:10px;}
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.img-tablethumb {
    max-height: 30px;
	max-width: 85px;
}
.img-thumb {
    max-height: 120px;
}
.img-relate-thumb {
    height: 120px;
    width: 120px;
}
.hidevdo {
    visibility: hidden;
    height: 10px;
}
.content-preview {
    margin-top: 10px;
}
.thumbnail-text{
    margin: 5px 0;
    text-align: center;
}
.thumbnail-empty{
    min-height: 100px;
    text-align: center;
    position:relative;
}
.thumbnail-empty-text{
    color: #DDDDDD;
    font-size: 20px;
}
.thumbnail-empty-size{
    color: #DDDDDD;
    width: 100%;
    text-align: center;
    position:absolute; bottom:10px;
}
.twoinputlabel{
    padding-top: 5px;
}
.twoinputitext{
    /*margin-left: 10px;*/
}
.image-thumbnail{
    margin: 0 auto;
}
.defaultsize{
    /*margin: 5px;*/
    width: 100%;
    border: 1px;
}
.defaultsize  tr td{
    padding: 5px;
    width: 50%;
}
.defaultsize  tr .defaultsize-header{
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
}
.defaultsize  tr .defaultsize-otherheader{
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}
.defaultsize  tr .defaultsize-key{
   text-align: right;
}
.defaultsize  tr .defaultsize-value{
    text-align: left;
}
.addimage_showdefaultsize{
    margin-bottom: 100px;
}
.form_showdefaultsize{
    margin: 10px 0;
}
.defaultsize-othervalue{
    text-align: center;
}
/*Sorting Image*/
.content-preview {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-state-highlight {
    /*line-height: 150px;*/
    /*width: 200px;
    height: 160px;*/
}
.content-preview [class*="span"]:first-child {
    margin-bottom: 15px;
    margin-left: 15px;
}
.content-preview [class*="span"] {
    margin-bottom: 15px;
    margin-left: 15px;
}
.content-preview .span3 {
    width: 23%;
}
.required{
	color: #dd0000;
}
.fieldempty{
	border-color: rgba(236, 49, 46, 0.80) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 49, 46, 0.6) !important;
	outline: 0 none !important;
}
