/*Dual Select*/
.dual-select > div {  
	margin-top:5px;
	margin-bottom:5px;	
	float: right; width: 49%; 
	}
.dual-select > div:first-child { float: left; }
.dual-select ul    {  border: 1px solid #D1D1D1; margin: 0; padding: 0; overflow: auto; background-color: #fff;}
.dual-select li    {  list-style-type: none; cursor: pointer; padding: 4px; border-bottom: 1px solid #D1D1D1;margin-left:0px !important;color: #333;}
.dual-select li:hover { background-color: #e4e4e4; color: #B55D5C;}
.dual-select li.selected { background-color: #e4e4e4; color: #B55D5C;}
.dual-select > div div {  
background: url("images/leftNavBg.png") repeat-x scroll left top transparent; 
border: 1px solid #4A4A4A; 
border-top: 0; 
padding: 4px; 
margin-bottom:0px; 
height:25px; 
border: 1px solid #D5D5D5;
}
.dual-select > div div button
{
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    padding: 5px 14px 4px;
    text-transform: uppercase;
    background: url("../../images/basicBtn.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #D5D5D5;
    color: #525252;
    margin-right: 10px;
}
.dual-select > div div button:hover
{
    background-position: 0 -25px;
}
.dual-select > div div input{background-color: #e4e4e4;font-size:1.1em;padding:2px 0;margin:0;color:#B55D5C;/* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */border:1px solid #D5D5D5;padding:2px;}
button.search,button.add,button.remove {
    background: none !important;
}
div.clear { clear: both; }