 /* jQuery UI Tabs 1.8.9
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
 .grid_4 {
 	width: 220px;
 	float: left;
 }
 .grid_12 {
 	float: left;
 	width: 678px;
 }
 .form-line {
 	float: left;
 	padding-bottom: 5px;
 	width: 100%;
 }
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }




		label{
			width:100px;;
		}
		#form-body .toolbar{
			width:200px;
			height:1500px;
			float:left;
			background-color: #CCC;
			padding:10px;
		}
		.main{
			width:700px;
			height:1500px;
			float:left;
			padding:10px;
			background-color: #EEE;
		}
		ul.sortable{
			min-height:100px;
		}
		ul.sortable li{
			padding:5px;
			margin:25px 0 0 0;
		}
		ul#sort-panel{
			margin:0;
			padding:0;
			list-style:none;
		}
		
		ul#sort-panel li{
			padding:5px;
			margin-bottom:5px;
		}
		ul#sort-panel input[type="text"]{
			background-color: #FFFFFF;
			border: 1px solid #B4B4B4;
			font-size: 16px;
			margin-right: 5px;
			width:200px;
		}
		.ui-state-highlight { 
			height: 1.5em; 
			line-height: 1.2em;
		 }
		.sortitem .ui-icon { 
			float: left; 
			cursor: hand;
			cursor: pointer;
		}
		ul#sort-panel .ui-icon{
			position:relative;
			float: right;
			top:-5px;
			right:-5px;
		}
		.sortitem .tool { 
			float: right;
			position:relative;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			height:18px;
			top:-25px;
			right:-3px;
			padding:0 10px;
		}
		.sortitem .ui-tabs-panel{
			padding:0px;
		}
		ul.sortable li div label{
			display: inline-block;
			float: left;
			font-size: 14px;
			width: 300px;
		}
		ul.sortable li div input[type="text"],ul.sortable li div input[type="email"],ul.sortable li div textarea,ul.sortable li div select{
			background-color: #FFFFFF;
			border: 1px solid #B4B4B4;
			float: left;
			font-size: 16px;
			margin-right: 5px;
			width:300px;
		}
		
		ul.sortable .field {
			float: left;
		}
		ul.sortable li div input[type="checkbox"],ul.sortable li div input[type="radio"]{
			clear: both;
			float: left;
		}
		ul.sortable li div p{
			float: left;
			margin-top:0;
			margin-bottom: 5px;
			margin-left: 5px;
		}
		
		.ui-dialog .field-desc{
			font-size:12px;
		}
		.ui-dialog div.form-line input[type="text"],.ui-dialog div.form-line select{
			width:320px;
		}
		.ui-dialog div.form-line textarea{
			width:320px;
			height:100px;
		}
		.ui-dialog .field {
			float: right;
			width:320px;
		}
		.ui-dialog ul#sort-panel {
			float: left;
			width:420px;
			padding-bottom:10px;
		}
        .ui-dialog ul#sort-panel li {
			margin:0 0 10px 0;
		}
		.simple-recaptcha{
			background:url(images/reCAPTCHA_Sample_Red.png);
			width:319px;
			height:129px;
		}
