/* Tagify styles 
Author: Alicia Liu
*/

.tagify-container {
	width: 98%;
	height: 90px;
	/*        border: 1px solid #CCC;
	background-color: #444446;
	border-radius: 2px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	overflow: auto;*/
	/*margin-top:5px;*/
	/*margin-bottom:5px;*/
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: none repeat scroll 0 0 #FAFAFA;
  	border-color: #aeaeae;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 2, 0.2) inset, 1px 1px 0 rgba(253, 253, 255, 0.1);
	color: #777779;
	padding: 4px;
}
.tagify-container > span {
    display: inline-block;
    padding: 0 5px;
    margin: 0 3px 0 0;
    border-radius: 2px;
    border: 1px solid #BABABA;
    background-color: #E8E8E8;
    color: #222222;
}
.tagify-container > span > a {
    padding-left: 5px;
    color: #212121;
    text-decoration: none;
    font-weight: bold;
}
.tagify-container > input {
    border: 0 none;
    width: 100px;
	background-color: #d5d5d5;
	color:#777779;
	padding: 2px 0;
}
.tagify-container > input:focus {
    outline: none;
}