.sitemap-main{
  table{
    tr{
      td{
        background-color:transparent !important;
      }
    }
  }
  .menunaviTable, .menucontentTable , .cateTable , .htmlTable , .allPostTable , .galleryTable , .tagTable{
    .changepriority{
      .control-label{
        display: none;
      }
      .control-group{
        margin-bottom: 0;
        .controls{
          margin-left: 0;
        }
      }
    }
    .paginate_button{
      margin-right: 10px;
    }
    .paginate_active{
      margin-right: 10px;
    }
    .Urlhideshow:hover{
      cursor: pointer;
    }
  }
}

.geratexmlBtn{
  margin: 20px;
}
.menulist{
  padding: 10px 2px;
  border: 1px dotted gray;
  min-height: 200px;
  li{
//    padding:5px 2px;
    a{
      color: #333333;
    }
  }
  .menunaviActive{
    background-color: #f2f2f2;
    text-decoration: none;
  }
	.menucontentActive{
		background-color: #f2f2f2;
		text-decoration: none;
	}
}
.sitemapInput{
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
  padding-bottom: 10px;
}

.controls-text{
  margin-top: 5px;
}

.allPostTable , .menunaviTable{
	table{
		th:nth-child(3) , td:nth-child(3){
            width: 50%;
		}
	}
}
.galleryTable, .categoryTable, .htmlTable, .tagTable{
	table{
		th:nth-child(3) , td:nth-child(3){
			width: 45%;
		}
	}
}
.menucontentTable{
	table{
		th:nth-child(3) , td:nth-child(3){
			width: 30%;
		}
		th:nth-child(5) , td:nth-child(5){
			max-width: 100px;
		}
		.template{
			width: 100%;
		}
	}
}
table td{
	.priority{
		width: 100px!important;
	}
}