<script type="text/javascript" src="../private/javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="../private/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="../private/javascripts/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="../private/javascripts/jquery.dataTables.js"></script>