<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 9/16/13 AD
  Time: 2:33 PM
  To change this template use File | Settings | File Templates.
--->

<cfoutput>
	<cfif thisTag.executionMode EQ "start">
		<cfhttp url="http://#CGI['HTTP_HOST']#/cfc/services/tagcloud.cfc" method="get" result="objdata">
			<cfhttpparam type="url" name="method" value="tagcloudlist"/>
		</cfhttp>
		<cfset rawdata = deserializeJSON(objdata['filecontent'])>
		<cfset CALLER["tagclouds"]["totalrecord"] = arraylen(rawdata)>
		<cfset tag = rawdata>
	</cfif>
</cfoutput>