body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
a {
    color: #363230;
    text-decoration: none;
}
a:hover {
	color: #FF4800;
	text-decoration: none;
}
.product {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 1px 1px #CCCCCC;
    height: 340px;
}
.image-product {
	padding: 20px 0 5px 0;
	width: 100%;
}
.image-product img {
    display: block;
    height: 210px !important;
    margin: 0 auto;
    width: 225px !important;
}
.tags-product {
    height: 50px;
}
.tag-p {
    margin-bottom: 0;
    margin-left: 5px;
    padding: 5px 0;
}
.posttitle h4 {
	margin: 0;
}
.posttitle {
    height: 13px;
    margin: auto 0;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
}
.postprice {
    height: 14px;
    margin: auto 0;
    overflow: hidden;
    padding: 0 10px 10px 10px;
    text-overflow: ellipsis;
}
.postdetail {
    height: 18px;
    margin: auto 0;
    overflow: hidden;
    padding: 0 10px 10px 10px;
    text-overflow: ellipsis;
}
.blog-item {
    margin-bottom: 20px;
}
.blog-item p {
    margin-top: 10px;
}
.blog-item h3 {
    margin: 5px 0;
}
.blog-item-description {
    padding-top: 20px;
}
.blog-item img{
    width: 600px;
}
.blog-item-panel{
    background-color: #F5F5F5;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px 10px 0;
}
.blog-item-panel ul {
    list-style: none outside none;
    margin-left: 0;
}
.blog-item-panel ul li {
    margin-right: 20px;
    float: left;
}
.post-more{
    color: #FF4800;
}
.relate-blog-item{
    list-style-type: none;
}
.blog-image{
    margin: 0 auto;
    display: block;
}
.relate-blog-intro{
    overflow: hidden;
    height: 30px;
    padding: 10px 0;
}
.tablequatity {
    
}
.slider-box{
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    top: -1px;
}
.slide {
    width: 900px;
    margin: 0 auto;
}
.carousel-inner{
    width: 900px;
}
.slideshow{
    margin-bottom: 20px;
}
.gallerydetail {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 1px 1px #CCCCCC;
    padding-bottom: 15px;
}


.dataTables_filter{
	float: right;
	margin-bottom: 10px;
}
.dataTables_filter:after{
	clear: both;
}
.dataTables_paginate{
	float: right;
	margin-bottom: 30px;
}
.dataTables_paginate a{
	font-size: 14px;
	cursor: pointer;
	margin-right: 5px;
}
.paginate_button_disabled , .paginate_active{
	cursor: default;
	text-decoration: none;
	color: #999999;
}
.paginate_button_disabled:hover , .paginate_active:hover{
	cursor: default;
	text-decoration: none;
	color: #999999;
}