<cfinclude template="system/loadplugins.cfm">
<cfif get('PATHFRONTEND') eq ''>
    <cfset pathfile = expandPath('/')>
<cfelseif get('PATHFRONTEND') eq '/'>
    <cfset pathfile = expandPath('/')>
<cfelse>
    <cfset pathfile = "#expandPath(get('PATHFRONTEND'))#/">
</cfif>
<cfset xmlfile = "#pathfile#sitemap.xml">

<!---<cfoutput>--->
<!---<cfsavecontent variable="data">--->
<!------>
<!---	<cfset categorydata = MongoCollectionfind(datasource=application.applicationname,collection="category")>--->
<!---	<cfif categorydata.recordcount GT 0>--->
<!---		<cfloop query="categorydata">--->
<!---			--->
<!---		</cfloop>--->
<!---	</cfif>--->
<!------>
<!------>
<!---</cfsavecontent>--->
<!---</cfoutput>--->

<cffile action="write" nameconflict="overwrite" output="<xml></xml>" file="#xmlfile#" charset="utf-8" mode="777">
<cfcontent type="application/json; charset=utf-8" reset="true">
<cfoutput>
    {"date":"#dateformat(now(),get('DATEFORMAT'))# #timeFormat(now(),get('TIMEFORMAT'))#"}
</cfoutput>

