<!---
  Created with IntelliJ IDEA.
  User: arunwatd
  Date: 1/18/13
  Time: 2:15 PM
  To change this template use File | Settings | File Templates.
--->
<cfinclude template="include/header.cfm">
<cfoutput>
    <div class="row-fluid">
    <ul class="nav nav-pills">
    <li>#linkTo(text="post", action="posts")#</li>
<li class="active">#linkTo(text="New", href="javascript:void(0)")#</li>
</ul>
</div>
<div class="row-fluid">
    #genbreadcrumb(menulist='post,new')#
    </div>
    <div class="row-fluid">
        <legend>Mail</legend>
    #startform(action='postscontroller')#
    #hiddenfield(name='mode',value='create')#
    <cfsavecontent variable="mailbody">
        <h3>My Subject</h3>
        Hello html no html tag
    </cfsavecontent>
    <cfset sendmail('arunwatd@gmail.com','arunwatd@gmail.com','Test mail function',mailbody)>
    #submit(label=get('labelbtnadd'))#
    #endform()#
    </div>
</cfoutput>
<cfinclude template="include/footer.cfm">