<cfscript language="java" jarlist="markdownj.jar" import="com.petebevin.markdown.MarkdownProcessor">
    MarkdownProcessor m = new MarkdownProcessor();
    String html = m.markdown((String)cf.get("data"));
    cf.set( "html", html );
</cfscript>
<cfoutput>
    #html#
</cfoutput>
