<cfinclude template="system/loadplugins.cfm">
<cfset searchtxt = structnew()>
<cfset searchtxt["$regex"] = ".*#Trim(term)#.*">
<cfset searchtxt["$options"] = "i">
<cfset searchst = structNew()>

<cfset defaultsearch = structnew()>
<cfset searchtxt = structnew()>
<cfset searchtxt["$regex"] = ".*#Trim(term)#.*">
<cfset searchtxt["$options"] = "i">

<cfset defaultsearch["NAME"] = searchtxt>
<!--- <cfset defaultsearch['USER'] = dbref('user',session['userid'])> --->
    <cfset result = MongoCollectionfind(application.applicationname,'tag',defaultsearch)>
    <cfsavecontent variable="json">
        [
        <cfset i = 1>
        <cfloop array="#result#" index="item">
            <cfif i neq 1>,</cfif>
            <cfoutput>
                {"id":"#item['_id'].toString()#","label":"#item['name']#","value":"#item['name']#"}
            </cfoutput>
            <cfset i++>
        </cfloop>
        ]
    </cfsavecontent>
    <cfcontent type="application/json; charset=utf-8" reset="true">
    <cfoutput>
    #json#
    </cfoutput>