<cfinclude template="include/header.cfm">
<cfif isdefined('ERROR')>
    <cfset tag = getstoredata()>
    <cfif structIsEmpty(tag)>
        <cfset tag = mongonew('tag')>
    </cfif>
    <cfelse>
    <cfset tag = mongonew('tag')>
</cfif>
<cfoutput>
<div class="row-fluid">
    <legend>New tag</legend>
    #startform(action='tagscontroller')#
    #hiddenfield(name='mode',value='create')#
    #textfield(name='name',label='name',value=tag['name'])#
    #submit(label=get('labelbtnadd'))#
    #endform()#
</div>
</cfoutput>
<cfinclude template="include/footer.cfm">