<cfinclude template="system/loadplugins.cfm">
<cfset loc = uptotemp(form)>
<cfset fileupload = loc>
<cfset listpassfile = ''>
<cfif typeassets eq 'file'>
    <cfset listpassfile = get('fileformat')>
<cfelseif typeassets eq 'image'>
    <cfset listpassfile = get('imageformat')>
<cfelseif typeassets eq 'video'>
    <cfset listpassfile = get('videoformat')>
</cfif>
<cfif listFind(listpassfile,fileupload['serverfileext'] , ',') gt 0>
    <cfoutput>
    <cfsavecontent variable="result">
        {"result":"success","serverfile":"#trim(fileupload['serverfile'])#","clientfile":"#fileupload['clientfilename']#"}
    </cfsavecontent>
    </cfoutput>
<cfelse>
    <cfset temp = deletefromtemp(fileupload['serverfile'])>
    <cfsavecontent variable="result">
        {"result":"error"}
    </cfsavecontent>
</cfif>
<cfoutput>
    #result#
</cfoutput>