<cfinclude template="system/loadplugins.cfm">
<cfset structDelete(form,'FIELDNAMES')>
<cfset MongoCollectionremove(application.applicationname,'usersetting',{'USER'=dbref('user',session['userid'])})>
<cfset form['USER'] = dbref('user',session['userid'])>
<cfset MongoCollectionsave(application.applicationname,'usersetting',form)>
<cfset flashinsert('success','Update setting complete')>
<cflocation url="userssetting.cfm" addtoken="false">