<cfinclude template="include/header.cfm">
<cfif isdefined('ERROR')>
    <cfset user = getstoredata()>
    <cfif structIsEmpty(user)>
        <cfset user = mongonew('user')>
    </cfif>
    <cfelse>
    <cfset user = mongonew('user')>
</cfif>
<cfset logq = arraynew()>
<cfset logst = structNew()>
<cfset logst['id'] = 'user'>
<cfset logst['text'] = 'user'>
<cfset arrayappend(logq,logst)>
<cfset logst = structNew()>
<cfset logst['id'] = 'admin'>
<cfset logst['text'] = 'admin'>
<cfset arrayappend(logq,logst)>
<cfoutput>
    <div class="row-fluid">
        <legend class="titlepage">New User</legend>
    #startform(action='userscontroller')#
    #hiddenfield(name='mode',value='create')#
    #textfield(name='username',label='username',value=user['username'],class="span11 between5-15",require=true)#
    #passwordfield(name='password',label='password',require=true)#
    #textfield(name='email',label='email',value=user['email'],class="span11 emailformat",require=true)#
    #textfield(name='firstname',label='firstname',value=user['firstname'],class="span11 between5-40",require=true)#
    #textfield(name='lastname',label='lastname',value=user['lastname'],class="span11 between5-40",require=true)#
    <cfif session['rule'] neq 'user'>
    #select(name='rule',label='rule',select=user['rule'],option=logq,field='text',key='id')#
    </cfif>
    #submit(label=get('labelbtnadd'))#
    #endform()#
    </div>
</cfoutput>
<cfinclude template="include/footer.cfm">