<cfinclude template="include/header.cfm">
<cfif isdefined('ERROR')>
    <cfset clearsession = getstoredata()>
</cfif>
<cfset usersetting = MongoCollectionfindone(application.applicationname,'usersetting',{"USER"=dbref('user',session['userid'])})>
<cfif isNull(usersetting)>
    <cfset usersetting = mongonew('usersetting')>
</cfif>
<cfset usersetting = mongonew("usersetting",usersetting,session['language'])>
<cfoutput>
<div class="row-fluid">
    <legend>User Setting</legend>
    #startform(action='userssettingcontroller')#
        #textfield(name='facebook',label='facebook',value=usersetting['FACEBOOK'])#
        #textfield(name='googleplus',label='google plus',value=usersetting['GOOGLEPLUS'])#
        #textfield(name='twitter',label='twitter',value=usersetting['TWITTER'])#
        #textfield(name='linkedin',label='linkedin',value=usersetting['LINKEDIN'])#
        #submit(label=get('labelbtnedit'))#
    #endform()#
</div>
</cfoutput>
<cfinclude template="include/footer.cfm">