<cfinclude template="include/header.cfm">
<cfif isdefined('ERROR')>
    <cfset video = getstoredata()>
    <cfif structIsEmpty(video)>
        <cfset video = mongonew('video')>
    </cfif>
    <cfelse>
    <cfset video = mongonew('video')>
</cfif>
<cfoutput>
<div class="row-fluid">
    <legend class="titlepage">New video</legend>
    #startform(action='videoscontroller')#
    #hiddenfield(name='mode',value='create')#
    #hiddenfield(name='filename')#
    #hiddenfield(name='newfilename')#
    #textfield(name='filename',label='video title',value=video['filename'],require=true)#
    #textarea(name='videolink',label='embeded code',value=video['videolink'],require=true)#
    #submit(label=get('labelbtnadd'))#
    #endform()#
</div>
</cfoutput>
<cfinclude template="include/footer.cfm">