.bold{
	font-weight: bold;
}
.actionBlock input{
    /*float:left;*/
    /*width: 100%;*/
	margin-right: 30px;
	float: left;
}
.actionBlock-right{
	float: right;
}
.menuitem-lebel{
	text-align: left;
	font-weight: bold;
	float: left;
	font-size: 16px;
}
.clear{
    clear:both;
}
.head-name{
    float:left;
}
.name-text{
    float:left;
}
.submenu-Block{

}
.sortable{
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
.sortable ol{
    list-style-type: none;

}
.sortable li{
    padding: 2px 0px 2px 0px;
    margin: 3px 0px 3px 0px;
}
.sortable li .submenu-name{
    height:25px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    /*cursor: move;*/
    /*margin: 2px;*/
    padding: 6px;
}

.placeholder {
    border: 1px dashed #4183C4;
    border-radius: 3px 3px 3px 3px;
    background: #BCD0ED;
}
.submenu-form{
    border-right:1px dashed #BCBCBC;
    border-bottom:1px dashed #BCBCBC;
    border-left:1px dashed #BCBCBC;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 10px;
}
.submenuUrl , .submenuId , .submenuClass , .submenuName , .contentname , .categoryname , .productname , .linkname , .imagename , .submenuDescription{
    width: 100%;
}

.form-up-down  {
    float: right;
    padding: 3px 5px 5px 4px;
    margin: 3px 0px 0px 10px;
	cursor:pointer;
    /*width: 40px;*/
}
.remove-menu  {
	cursor:pointer;
    float: right;
    padding: 3px 5px 5px 4px;
    margin: 3px 0px 0px 10px;
    /*width: 40px;*/
}
.head-name{
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}
.actionBlock{
    margin: 0px 5px 0px 0px;
}

.menu-thumbnail{
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    min-height: 120px ;
    margin-top: 5px;
}
.menuitem-img{
    cursor:pointer;
}
/*.menuitem-title{*/
    /*text-align: center;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 2px;*/
    /*width: 150px;*/
/*}*/
.menu-thumbnail-noimage{
    font-size: 30px;
    text-align: center;
    margin-top: 49px;
    color: #DDDDDD;
}