<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 10/23/13 AD
  Time: 11:42 AM
  To change this template use File | Settings | File Templates.
--->

<cfset table = StructNew()/>
<cfset table['tablefield'] = "TITLE"/>
<!---
  TITLE : string, not null
--->
<cfset tablevalidate = StructNew()/>
<cfset tablevalidate['TITLE'] = '{"typevalidate":"validatespresence"}'>
<cfset table['VALIDATE'] = tablevalidate />
<cfset table['I18N'] = ''/>