<!---
  Created with IntelliJ IDEA.
  User: peerabumrung
  Date: 1/21/13
  Time: 12:11 PM
  To change this template use File | Settings | File Templates.
--->
<cfset table = StructNew()/>
<cfset table['tablefield'] = "NAME,DESCRIPTION,MENUID,MENUCLASS,MENU"/>
<!---
  TITLE : string, not null
  IMAGEREF : string, null
--->
<cfset tablevalidate = StructNew()/>
<cfset tablevalidate['NAME'] = '{"typevalidate":"validatespresence"}'>
<cfset tablevalidate['MENU'] = '{"typevalidate":"validatespresence"}'>
<cfset table['VALIDATE'] = tablevalidate />
<cfset table['I18N'] = ''/>
