<!---
  Created with IntelliJ IDEA.
  User: arunwatd
  Date: 1/15/13
  Time: 2:25 PM
  To change this template use File | Settings | File Templates.
--->
<cfset table = StructNew()/>
<cfset table['tablefield'] = "FILENAME,NEWFILENAME,CATEGORY"/>
<!---
  FILENAME : string, not null
  NEWFILENAME : string, not null
--->
<cfset tablevalidate = StructNew()/>
<cfset table['VALIDATE'] = tablevalidate />
<cfset table['I18N'] = ''/>