<cfset table = StructNew()/>
<cfset table['tablefield'] = "FBID,NAME,IMAGE,EMAIL,SECRETKEY"/>
<cfset tablevalidate = StructNew()/>
<cfset table['VALIDATE'] = tablevalidate />
<cfset table['I18N'] = ''/>