<!---
  Created with IntelliJ IDEA.
  User: arunwatd
  Date: 1/11/13
  Time: 4:55 PM
  To change this template use File | Settings | File Templates.
--->
<cfset table = StructNew()/>
<cfset table['tablefield'] = "NAME"/>
<cfset tablevalidate = StructNew()/>
<cfset tablevalidate['NAME'] = '{"typevalidate":"validatespresence,validatesuniqueness","when":"create"}'>
<cfset table['VALIDATE'] = tablevalidate />
<cfset table['I18N'] = ''/>