<cfset table = StructNew()/>
<cfset table['tablefield'] = "FACEBOOK,TWITTER,GOOGLEPLUS,LINKEDIN"/>
<!---
  FACEBOOK : string, null
  TWITTER : string, null
  GOOGLEANALYTICS : string, null
--->
<cfset tablevalidate = StructNew()/>
<cfset table['VALIDATE'] = tablevalidate />
<cfset table['I18N'] = ''/>