            <div id="footer">
                <p>Copyright &copy; Skoode Skill Co., Ltd.</p>
                <p>Lithe CMS is a LGPL license software by Skoode Skill Co.,Ltd.</p>
                <p>Find out more detail at http://www.openlithe.org</p>
            </div>
        </div>
    </body>
</html>