<cfoutput>
<!---    #javascriptinclude('jquery-1.8.2,bootstrap-transition,bootstrap-alert,bootstrap-modal,bootstrap-dropdown,bootstrap-scrollspy,bootstrap-tab,bootstrap-tooltip,bootstrap-popover,bootstrap-button,bootstrap-collapse,bootstrap-carousel,bootstrap-typeahead,jquery-ui-1.9.0.custom,settingjs,main,dualselectgetvalue,json2,createdatepicker,bootstrap-modalmanager,coffee/checkvalidate')#--->
	#javascriptinclude('jquery-1.8.2,bootstrap.min,bootstrap-modalmanager,bootstrap-modal,jquery-ui-1.9.0.custom,settingjs,main,dualselectgetvalue,json2,createdatepicker,coffee/checkvalidate')#
<script type="text/javascript">
    <cfif isDefined("category")>
        var categoryurl = '#category#';
    <cfelse>
        var categoryurl = '';
    </cfif>
    <cfif isDefined("start")>
        var startpage = #start#;
    <cfelse>
        var startpage = 0;
    </cfif>
</script>
</cfoutput>

