<link href="docs/assets/css/bootstrap.css" rel="stylesheet">
<style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
</style>
<link href="docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
<cfoutput>
    #stylesheetinclude('DT_bootstrap,bootstrap-modal,customui')#
</cfoutput>