<ul class="nav" xmlns="http://www.w3.org/1999/html">
<!---    <li class="dropdown">--->
<!---        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Post<b class="caret"></b></a>--->
<!---        <ul class="dropdown-menu">--->
<!---            <li><a href="postsnew.cfm">Add Post</a></li>--->
<!---            <li><a href="posts.cfm">List Post</a></li>--->
<!---        </ul>--->
<!---    </li>--->
<!---    <li class="dropdown">--->
<!---        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Page<b class="caret"></b></a>--->
<!---        <ul class="dropdown-menu">--->
<!---            <li><a href="pagesnew.cfm">Add Page</a></li>--->
<!---            <li><a href="pages.cfm">List Page</a></li>--->
<!---        </ul>--->
<!---    </li>--->
<!---    <li class="dropdown">--->
<!---        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Category<b class="caret"></b></a>--->
<!---        <ul class="dropdown-menu">--->
<!---            <li><a href="categoriesnew.cfm">Add Category</a></li>--->
<!---            <li><a href="categories.cfm">List Category</a></li>--->
<!---        </ul>--->
<!---    </li>--->
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">User<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="usersnew.cfm">Add User</a></li>
            <li><a href="users.cfm">List User</a></li>
        </ul>
    </li>
<!---    <li class="dropdown">--->
<!---        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>--->
<!---        <ul class="dropdown-menu">--->
<!---            <li><a href="frontendmenusnew.cfm">Add Menu</a></li>--->
<!---            <li><a href="frontendmenus.cfm">List</a></li>--->
<!---        </ul>--->
<!---    </li>--->
<!---    <li class="dropdown">--->
<!---        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Assets<b class="caret"></b></a>--->
<!---        <ul class="dropdown-menu">--->
<!---            <li class="dropdown-submenu">--->
<!---                <a tabindex="-1" href="#">Image</a>--->
<!---                <ul class="dropdown-menu">--->
<!---                    <li><a href="imagesnew.cfm">Add Image</a></li>--->
<!---                    <li><a href="images.cfm">List Image</a></li>--->
<!---                </ul>--->
<!---            </li>--->
<!---            <li class="dropdown-submenu">--->
<!---                <a tabindex="-1" href="#">Video</a>--->
<!---                <ul class="dropdown-menu">--->
<!---                    <li><a href="videosnew.cfm">Add Video</a></li>--->
<!---                    <li><a href="videos.cfm">List Video</a></li>--->
<!---                </ul>--->
<!---            </li>--->
<!---            <li class="dropdown-submenu">--->
<!---                <a tabindex="-1" href="#">File</a>--->
<!---                <ul class="dropdown-menu">--->
<!---                    <li><a href="filesnew.cfm">Add File</a></li>--->
<!---                    <li><a href="files.cfm">List File</a></li>--->
<!---                </ul>--->
<!---            </li>--->
<!---        </ul>--->
<!---    </li>--->
<!---    <li>--->
<!---        <a href="contactus.cfm">Contact</a>--->
<!---    </li>--->
<!---    <cfif session['cart'] eq 'on'>--->
<!---        <li>--->
<!---            <a href="orders.cfm">Order</a>--->
<!---        </li>--->
<!---    </cfif>--->
    <cfif fileExists("#expandPath('./')#include/superadminmenucustom.cfm")>
        <cfinclude template="superadminmenucustom.cfm">
    </cfif>
    <li>
        <a href="setting.cfm">Setting</a>
    </li>
</ul>