<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 11/20/13 AD
  Time: 3:42 PM
  To change this template use File | Settings | File Templates.
--->

<cfimport taglib="/cfc/tags" prefix="lithe">
<lithe:lithe-facebook facebookpage="test/facebook.cfm">
</lithe:lithe-facebook>