<!---
  Created with IntelliJ IDEA.
  User: jojoe
  Date: 10/4/13 AD
  Time: 2:50 PM
  To change this template use File | Settings | File Templates.
--->

<cfset structDelete(session,"form_username")>
<cfset structDelete(session,"form_passowrd")>
<cfset flashinsert('success','Logout success!')>
<cflocation url="/web/login.cfm">